<#@ template language="C#" linePragmas="false" #>
<#@ import namespace="DTDLParser.Models" #>
[
<# this.PushIndent(new string(' ', this.indent)); #>
  "null",
  <#=AvroSchemaSupport.GetTypeAndAddenda(this.schema, 2, this.sharedPrefix, nullable: false, this.definedIds, this.mqttVersion)#>
]<# this.PopIndent(); #>
